Client/BoardGame/Library/*
**/bin/*
**/obj/Debug/*
Share/.vs/
**/GameServer/obj/*
**/.vs/*
Client/BoardGame/Temp/
Client/BoardGame/Logs/
**/Properties/*
**/Layouts/*
**/UserSettings/*
**/.utmp/*
**/obj/*
